.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  position: fixed;
  font-weight: 500;
}
.mat1 {
  width: 35%;
  margin: 15%;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  height: 150%;
  color: #e91e63;
}
.text1 {
  font-size: medium;
  font-weight: 300;
  margin-top: 5%;
}
.mat-form {
  font-size: medium;
  width: 90%;
  height: 100%;
  margin-top: 5%;
}
.button-done {
  display: block;
  width: 90%;
  margin-top: 2%;
}

mat-error {
  font-size: smaller;
  font-weight: normal;
  padding-left: 5%;
}
.titleforgot {
  font-size: xx-large;
}
