<div class="container">
  <mat-card class="mat1" [class.mat-elevation-z7]="true">
    <div class="titleforgot">Forgot Password ?</div>
    <div class="text1">Don't worry! Just fill in your email ID and we'll help you reset your password.</div>
    <div>
      <mat-form-field class="mat-form" appearance="outline" [formGroup]="signinForm">
        <input
          type="text"
          aria-label="items"
          matInput
          placeholder="Enter Id"
          [pattern]="foodItemPattern"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && values.email.errors }"
        />
      </mat-form-field>
      <div *ngIf="submitted && values.email.errors">
        <div *ngIf="values.email.errors.required"><mat-error>**Email is required</mat-error></div>
        <div *ngIf="values.email.errors.email"><mat-error>**Email must be a valid email address</mat-error></div>
      </div>
    </div>
    <div>
      <button mat-raised-button color="accent" class="button-done" (click)="clickMethod()">DONE</button>
    </div>
  </mat-card>
</div>
